/* Stats chart */
/* line 2, /Users/agentlogic/RocketLauncher/VISION/Kakoona/_AdPortal/Kakoona_AdPortal/app/assets/stylesheets/kakoona_custom/chart-showcase.scss */
#statsChart {
  width: 97%;
  height: 250px;
  margin-top: 65px;
}

/* specific chart styles */
/* line 9, /Users/agentlogic/RocketLauncher/VISION/Kakoona/_AdPortal/Kakoona_AdPortal/app/assets/stylesheets/kakoona_custom/chart-showcase.scss */
.legendLabel {
  font-size: 12px;
  font-family: "Open Sans", Arial;
  color: #9da3a9;
}

/* line 16, /Users/agentlogic/RocketLauncher/VISION/Kakoona/_AdPortal/Kakoona_AdPortal/app/assets/stylesheets/kakoona_custom/chart-showcase.scss */
#pad-wrapper .section {
  border-top: 1px solid #edeff1;
  margin-top: 70px;
  padding-top: 45px;
  box-shadow: inset 0px 3px 4px -1px #fafafa;
}
/* line 22, /Users/agentlogic/RocketLauncher/VISION/Kakoona/_AdPortal/Kakoona_AdPortal/app/assets/stylesheets/kakoona_custom/chart-showcase.scss */
#pad-wrapper h4.title {
  margin-bottom: 45px;
}
/* line 25, /Users/agentlogic/RocketLauncher/VISION/Kakoona/_AdPortal/Kakoona_AdPortal/app/assets/stylesheets/kakoona_custom/chart-showcase.scss */
#pad-wrapper .section .chart h5 {
  margin-bottom: 10px;
}

/*Responsive*/
