/* line 1, /Users/agentlogic/RocketLauncher/VISION/Kakoona/_AdPortal/Kakoona_AdPortal/app/assets/stylesheets/kakoona_custom/code-editor.scss */
.editor-header {
  margin-top: -10px;
}

/* line 4, /Users/agentlogic/RocketLauncher/VISION/Kakoona/_AdPortal/Kakoona_AdPortal/app/assets/stylesheets/kakoona_custom/code-editor.scss */
#editor {
  height: 525px;
  width: 100%;
  border: 1px solid #DDD;
  border-radius: 4px;
  border-bottom-right-radius: 0px;
  margin-bottom: 100px;
  margin-top: 25px;
}
