#pad-wrapper.show-ad-campaigns
{
	padding: 25px 50px 0px 50px;
	margin-bottom: 25px;
    margin-top: 0px;

    h4{
    	margin-bottom: 15px;
    }
}

#pad-wrapper.logic-edit
{
    h4{
    	margin-bottom: 15px;
    }
}