.grffk-wrap input
{
    display: none;
}

.grffk-bottom30 {
	margin-bottom: 30px;
}

.new_photo, .edit_photo {
  padding: 0 0 30px 0;

  .actions {
    position: relative;
    top: 90px;
  }
}
.direct-upload {
  position: relative;
  bottom: 80px;
}

.video-add {
	background-color: #00adee;
	min-width: 352px;
	min-height: 200px;
	line-height: 200px;

	.glyphicon.glyphicon-upload {
	    font-size: 75px;
	    vertical-align: middle;
    	display: inline-block;
	}

	.glyphicon.glyphicon-spin {
	    font-size: 75px;
	    vertical-align: middle;
    	display: inline-block;
	}

	.glyphicon.glyphicon-film {
	    font-size: 75px;
	    vertical-align: middle;
    	display: inline-block;
	}

	.vid-upload-notice{
		position: absolute;
		display: block;
		line-height: 75px;
		margin-top: 10px;
	}

}

.product-add {
	background-color: #fff;
	border: 2px solid #CCC;
	min-width: 350px;
	min-height: 350px;
	line-height: 350px;

	.glyphicon.glyphicon-camera {
	    font-size: 75px;
	    vertical-align: middle;
    	display: inline-block;
	}
}

/* ---- Icon Spinnin ---- */
.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}



