.config-subtitle {
	margin-left: 15px;
}

.btn-add-fields{
	background: #fed701;
	padding: 4px 14px;
	margin-bottom: 10px;
	border: none;
	color: #000;

}

.btn-remove-attr{
	position: relative;
	display: block;
	padding-bottom: 10px;
	
	.spacer{
		color: white;
	}
}

.hide {
  display: none;
}


.underline {
  text-decoration: underline;
}