
<li>
<!-- Feature Value Object -->
<span class="feature-value-txt">spanval</span>
<%= val.hidden_field :value, value: "spanval"%>
<%= val.hidden_field :_destroy %>
<!-- Feature Value Object -->
</li>