<!-- Feature Value Object -->
<span class="feature-value-txt">spanval</span>
<%= val.hidden_field :value, value: "spanval"%>
<%= val.hidden_field :_destroy %>

<div class="btn-remove-attr">
  <%= link_to "<i class='fa fa-times fa-2x'></i>remove".html_safe, '#', class: "remove_fields" %>
</div>
<!-- Feature Value Object -->