<!-- SIMPLE Variant Instance -->
<div class="row display-table bottom10 toggle-obj">
  <div class="col-md-8 col-xs-12 display-cell">
    
    <label>Price</label>
    <div class="input-group">
        <span class="input-group-addon">$</span>
        
        <input type="text" class="form-control", placeholder="000.00"/>
    </div>
  </div>
  <div class="col-md-4 col-xs-12 display-cell">
    
    <label>In Stock</label>
    <div class="input-group">
        
        <input type="text" class="form-control", placeholder="0"/>
        <span class="input-group-addon">count</span>
    </div>
  </div>
</div>
<div class="row bottom10">
  <div class="col-md-12 col-xs-12">
    
    <label>Description</label>
    <textarea rows="5" class="form-control"> </textarea>
  </div>
</div>

<%= render 'products/thumbnailer' %>
<!-- End of SIMPLE Variant Instance -->