<!--- THUMBNAIL GENERATOR ---->
    <div class="row toggle-obj">
      <h4 class="config-subtitle">Gallery</h4>
    </div>
    <div class="row display-table bottom5 variant-thum-row">
      <div class="col-md-2 col-xs-6 display-cell grffk-wrap">
        <div class="variant-thum-wrap">
            <div class="product-preview-thum text-center">
              <span class="glyphicon glyphicon-camera"></span>
            </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-6 display-cell grffk-wrap">
        <div class="variant-thum-wrap">
            <div class="product-preview-thum text-center">
              <span class="glyphicon glyphicon-camera"></span>
            </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-6 display-cell grffk-wrap">
        <div class="variant-thum-wrap">
          <div class="product-preview-thum text-center">
            <span class="glyphicon glyphicon-camera"></span>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-6 display-cell grffk-wrap">
        <div class="variant-thum-wrap">
          <div class="product-preview-thum text-center">
            <span class="glyphicon glyphicon-camera"></span>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-6 display-cell grffk-wrap">
        <div class="variant-thum-wrap">
          <div class="product-preview-thum text-center">
            <span class="glyphicon glyphicon-camera"></span>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-6 display-cell grffk-wrap">
        <div class="variant-thum-wrap">
          <div class="product-preview-thum text-center">
            <span class="glyphicon glyphicon-camera"></span>
          </div>
        </div>
      </div>
    </div>
    