<!-- navbar -->
<header class="navbar navbar-inverse" role="banner">
    <div class="navbar-header">
        <h2>
            <%= link_to(image_tag("kakoona_logo_signinhead.png", alt: "logo", title: "Home"), "/") %>
            Ad Portal <span class="small">v1.0</span>
        </h2>
    </div>
</header>
<!-- end navbar -->