<!-- sidebar -->
    <div id="sidebar-nav">
        <ul id="dashboard-menu">
            <li class="active">
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a href="#">
                    <i class="fa fa-home"></i>
                    <span>Home</span>
                </a>
            </li>            
            <li>
                <a href="gallery.html">
                    <i class="fa fa-film"></i>
                    <span>Gallery</span>
                </a>
            </li>
            <li>
                <a href="calendar.html">
                    <i class="fa fa-calendar"></i>
                    <span>Calendar</span>
                </a>
            </li>
            <li>
                <a href="personal-info.html">
                    <i class="fa fa-cog"></i>
                    <span>My Info</span>
                </a>
            </li>
            <li>
                <%= link_to image_tag("kakoona_logo_supersmall.png", alt: "Kakoona Brand", title: "Home"), "/" , id: 'kakoona-logo' %>
            </li>
        </ul>
    </div>
    <!-- end sidebar -->