<!-- sidebar -->
    <div id="sidebar-nav">
        <ul id="dashboard-menu">
            <li class="active">
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a href="#">
                    <i class="fa fa-bar-chart"></i>
                    <span>Analyze</span>
                </a>
            </li>            
            <li>
                <a href="/videos-gallery">
                    <i class="fa fa-film"></i>
                    <span>Videos</span>
                </a>
            </li>
            <li>
                <a href="/products-gallery">
                    <i class="fa fa-gift"></i>
                    <span>Products</span>
                </a>
            </li>
            <li>
                <a href="/merchants">
                    <i class="fa fa-cog"></i>
                    <span>Merchant</span>
                </a>
            </li>
            <li>
                <%= link_to image_tag("kakoona_logo_supersmall.png", alt: "Kakoona Brand", title: "Home"), "/" , id: 'kakoona-logo' %>
            </li>
        </ul>
    </div>
    <!-- end sidebar -->